!!!
%html
  %head
    %title
      = html_head_title
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body.antialised
    .page
      .content
        .container-xl
          %h2.page-title
            = page_title
          = yield
